body {
  margin: 0;
  font-family: "Courier New";
  background: linear-gradient(90deg, rgba(73,40,117,0.9699230033810399) 0%, rgba(31,138,138,1) 51%, rgba(124,204,195,1) 94%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
	cursor: pointer;
}